body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar {
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #e3b062;
    text-decoration: solid;
}

.navbar a:hover{
    color: #32b9cd;
}
.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

/* banner */
.banner{
    background-image: url("./assets/imagens/bg-jelly-fish-para_outras_pags.png"); 
    height: 800px;
    color: white;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p{
    font-size: 32px;
    width: 200px;
}

/* SOCIAL DA PAGINA */
.social{
    background-color: #f7f7f7;
    height: 500px;

}

.social .container{
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.social .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social .container .box img{
    width: 100px;
}

.social .container .box p{
    width: 300px;
}

.footer{
    background-color: #32b9cd;
    color: white;
}

.footer .container{
    justify-content: center;
    text-align: center;
}

.cadastro{
    background-color: #f7f7f7;
    width: 45%;
    height: 650px;
    color: rgb(175, 51, 93);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: start;
}




.botao{
    background-color: rgb(202, 16, 78);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 135px;
    border: none;

}

.inputs {
    border-radius: 8px;
    border-style: inset;
    border-color: rgb(38, 202, 147);
    text-align: center;
    width: 65%;
    height: 100px;
    margin-top: 5px;
}

.textos{
    font-size: 25px;
    text-align: start;
}

